

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.hero-section {
    min-height: 100vh;
    display: grid;
}


.info {

    margin: auto;
}

.info .card {
    border-radius: 20px;
}

.info .card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.content-section {
    width: 100%;

}

.latest-works {
    text-align: center;
    box-shadow: 5px 15px 20px 10px #ddd;
}

.latest-works .row {
    display: flex;
    justify-content: center;
}

.latest-works .card {
    margin: 1rem;
}
